.header-banner-style {
    width: 100%;
    height: 850px;
    background-color: #E554731A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-banner-title-style {
    width: 55%;
    height: max-content;
    margin: 0px;
    /* border: 2px solid tomato; for clear viewing of view */
    margin-left: 250px;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.div-banner-title-style>h1 {
    /* border: 2px solid tomato; for clear viewing of view*/
    margin-bottom: 32px;
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.div-banner-title-style>p {
    /* border: 2px solid tomato; for clear viewing of view*/
    margin-bottom: 32px;
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.div-banner-title-style>button {
    /* border: 2px solid #E55473; for clear viewing of view */
    padding: 20px 20px;
    width: 180px;
    height: 65px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div-banner-image-style {
    width: 45%;
    /* border: 2px solid tomato; for clear viewing of view*/
    padding-top: 50px;
    padding-right: 240px;
}


.div-banner-image-style>img {
    width: 100%;
    height: 100%;
}

.main-featuredFlower-section {
    /* border: 2px solid tomato; */
    margin-top: 180px;

}

.main-featuredFlower-section>section>h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-featuredFlower-section>section>p {
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main-featuredFlower-div {
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#main-featuredFlower-div-colum1 {
    /* border: 2px solid tomato; */
    background-color: #A7216226;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-featuredFlower-div-colum2 {
    /* border: 2px solid tomato; */
    background-color: #0597A026;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-featuredFlower-div-colum3 {
    /* border: 2px solid tomato; */
    background-color: #477D1126;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.featured-flowers {
    /* border: 2px solid tomato; */
    margin-bottom: 32px;
    margin-top: 120px;
    width: 350px;
    height: 420px;
}

.featured-flower-name {
    /* border: 2px solid tomato; */
    margin: 0px;
    width: 500px;
    background-color: white;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}