#body-style {
    border: 2px solid tomato;
}

.header-banner-style {
    /* border: 2px solid tomato; */
    height: 850px;
    padding-top: 50px;
    background-color: #E554731A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-banner-title-style {
    /* border: 2px solid tomato; */
    width: 55%;
    height: min-content;
    margin: 0px;
    margin-left: 250px;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.div-banner-title-style>h1 {
    /* border: 2px solid tomato; */
    margin-bottom: 32px;
    color: #272727;
    font-family: Lato;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.div-banner-title-style>p {
    /* border: 2px solid tomato; */
    margin-bottom: 32px;
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.div-banner-title-style>button {
    /* border: 2px solid tomato; */
    padding: 20px 20px;
    width: 180px;
    height: 65px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div-banner-image-style {
    /* border: 2px solid tomato; */
    width: 45%;
    height: 100%;
    margin-right: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.div-banner-image-style>img {
    width: 640px;
    height: 800px;
}

.main-featuredFlower-section {
    /* border: 2px solid tomato; */
    margin-top: 180px;
}

.main-featuredFlower-section>section>h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-featuredFlower-section>section>p {
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main-featuredFlower-div {
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#main-featuredFlower-div-colum1 {
    /* border: 2px solid tomato; */
    background-color: #A7216226;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-featuredFlower-div-colum2 {
    /* border: 2px solid tomato; */
    background-color: #0597A026;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main-featuredFlower-div-colum3 {
    /* border: 2px solid tomato; */
    background-color: #477D1126;
    margin-left: 24px;
    margin-right: 24px;
    width: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.featured-flowers {
    /* border: 2px solid tomato; */
    margin-bottom: 32px;
    margin-top: 120px;
    width: 350px;
    height: 420px;
}

.featured-flower-name {
    /* border: 2px solid tomato; */
    margin: 0px;
    width: 500px;
    background-color: white;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.main-support-banner-div {
    /* border: 2px solid tomato; */
    margin-top: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-support-banner-div-colum {
    /* border: 2px solid tomato; */
    background-color: #2727270D;
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.support-banner-image {
    /* border: 2px solid black; */
    margin-bottom: 24px;
    margin-top: 86px;
    width: 88px;
    height: 88px;
}

.main-support-banner-text {
    /* border: 2px solid tomato; */
    margin: 0px;
    width: 530px;
    background-color: white;
    color: #272727CC;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.main-hotDeal-section-div {
    /* border: 2px solid tomato; */
    margin-top: 128px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E554730D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-hotDeal-section-colom-1 {
    /* border: 2px solid tomato; */
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.common-header-style {
    /* border: 2px solid tomato; */
    margin: 0px;
    width: 540px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#main-hotDeal-section-colom-1-header {
    margin-bottom: 24px;

}

#main-hotDeal-section-colom-1-paragraph {
    margin-bottom: 32px;

}

.common-paragraph-style {
    /* border: 2px solid tomato; */
    margin: 0px;
    width: 560px;
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.main-hotDeal-section-colom-1>button {
    /* border: 2px solid tomato; */
    width: 160px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;

}

.main-hotDeal-section-colom-2 {
    /* border: 2px solid tomato; */
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.main-hotDeal-section-colom-2>img {
    /* border: 2px solid tomato; */
    width: 320px;
    height: 420px;
}

.main-social-section-div {
    /* border: 2px solid tomato; */
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-social-section-header {
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-social-section-header>h2 {
    /* border: 2px solid tomato; */
    width: max-content;

}

.main-social-section-header>p {
    /* border: 2px solid tomato; */

}

.main-social-section-photos {
    /* border: 2px solid tomato; */
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-social-section-photos img {
    /* border: 2px solid tomato; */
    margin: 12px;
    width: 340px;
    height: 400px;

}